#nav-toggle {
    float: right;
    position: relative;
    width: 35px;
    overflow: hidden;
    white-space: nowrap;
    color: transparent;
}

#nav-toggle span {
    position: absolute;
    top: 50%;
    right: 5px;
    margin-top: -2px;
    -webkit-transition: rotate 0.2s, translate 0.2s;
    transition: rotate 0.2s, translate 0.2s;
    display: inline-block;
    height: 3px;
    width: 24px;
    background: #000000;
}

#nav-toggle span:before, #nav-toggle span:after {
    position: absolute;
    display: inline-block;
    height: 3px;
    width: 24px;
    background: #000000;
    content: "";
    right: 0;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 0% 50%;
    -ms-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
}

#nav-toggle.nav-is-visible span:before {
    -webkit-transform: translateX(4px) translateY(-1px) rotate(45deg);
    -ms-transform: translateX(4px) translateY(-1px) rotate(45deg);
    transform: translateX(4px) translateY(-1px) rotate(45deg);
}

@media screen and (max-width: 1140px)
#nav-toggle {
    display: block;
}