.event {
  display: flex;
  padding: 1rem 0;
  width: 85%;
  border-bottom: 3px solid #a3a29f;
 
}

.event-date {
  border-left: 4px solid #06bcc1;
  padding: 0 1.5rem;
}

.event-date, 
.event-description {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.event-date-month {
  font-size: 1.5rem;
  text-align: center;
  text-transform: capitalize;
}

.event-date-day {
  text-align: center;
  font-size: 3rem;
}

.event-description {
  width: 100%;
}

.event-details {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  flex-wrap: wrap;
}

.event-details-weekday {
  text-transform: capitalize;
}

.event-details img {
  height: 1.25rem;
  width: 1.25rem;
  margin-right: 0.25rem;
}

.event-details-time,
.event-details-weekday,
.event-details-participants {
  display: flex;
  align-items: center;
}
